<a href="https://colab.research.google.com/github/drm1072/Workload-DRM/blob/main/Data_science_basics_with_python_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #Used for high level Data Indexing processes
import numpy as np #Numpy provides fast mathematical function processing`b

In [2]:
#Lets create a dataframe and a dictionary
#We know we are creating a dictionary because we see (Key : Values)
DATASAMPLE1 = pd.DataFrame({'Favorite Colors': ['Blue', 'green', 'purple', 'yellow'],
                            'Favorite Shoes': ['Puma', 'Converse', ' Lacoste', 'Under Armour']},
                           index=[0, 1, 2, 3]) #Organizes our table

In [3]:
DATASAMPLE1

  Favorite Colors Favorite Shoes
0            Blue           Puma
1           green       Converse
2          purple        Lacoste
3          yellow   Under Armour

In [4]:
DATASAMPLE2 = pd.DataFrame({'Favorite Shows': ['The Wire', 'Girls gone wild', 'Dexter'], 'Favorite Movies': ['Kids', 'World War Z', 'Malcolm X']}, index=[0, 1, 2 ])

In [5]:
DATASAMPLE2

    Favorite Shows Favorite Movies
0         The Wire            Kids
1  Girls gone wild     World War Z
2           Dexter       Malcolm X

In [6]:
#Lets combine those data samples into a LIST inside a new variable.
DATASAMPLES = [DATASAMPLE1, DATASAMPLE2]

In [7]:
DATASAMPLES

[  Favorite Colors Favorite Shoes
 0            Blue           Puma
 1           green       Converse
 2          purple        Lacoste
 3          yellow   Under Armour,     Favorite Shows Favorite Movies
 0         The Wire            Kids
 1  Girls gone wild     World War Z
 2           Dexter       Malcolm X]

In [8]:
#Now lets combine these data sets into one table
COMPILEDDATA= pd.concat(DATASAMPLES)

In [9]:
COMPILEDDATA

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies
0            Blue           Puma              NaN             NaN
1           green       Converse              NaN             NaN
2          purple        Lacoste              NaN             NaN
3          yellow   Under Armour              NaN             NaN
0             NaN            NaN         The Wire            Kids
1             NaN            NaN  Girls gone wild     World War Z
2             NaN            NaN           Dexter       Malcolm X

In [10]:
DATASAMPLE3 = pd.DataFrame({'Favorite Cars': ['Ford Truck', 'Jeep Liberty', 'Ford Probe', "Corvette"]}, index=[0, 1, 2, 3 ])
# Code that helps create a data frame.

In [11]:
DATASAMPLE3

  Favorite Cars
0    Ford Truck
1  Jeep Liberty
2    Ford Probe
3      Corvette

In [12]:
DATASAMPLES = [DATASAMPLE1, DATASAMPLE2, DATASAMPLE3]

In [13]:
DATASAMPLES

[  Favorite Colors Favorite Shoes
 0            Blue           Puma
 1           green       Converse
 2          purple        Lacoste
 3          yellow   Under Armour,     Favorite Shows Favorite Movies
 0         The Wire            Kids
 1  Girls gone wild     World War Z
 2           Dexter       Malcolm X,   Favorite Cars
 0    Ford Truck
 1  Jeep Liberty
 2    Ford Probe
 3      Corvette]

In [14]:
COMPILEDDATA= pd.concat(DATASAMPLES)

In [15]:
COMPILEDDATA

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies Favorite Cars
0            Blue           Puma              NaN             NaN           NaN
1           green       Converse              NaN             NaN           NaN
2          purple        Lacoste              NaN             NaN           NaN
3          yellow   Under Armour              NaN             NaN           NaN
0             NaN            NaN         The Wire            Kids           NaN
1             NaN            NaN  Girls gone wild     World War Z           NaN
2             NaN            NaN           Dexter       Malcolm X           NaN
0             NaN            NaN              NaN             NaN    Ford Truck
1             NaN            NaN              NaN             NaN  Jeep Liberty
2             NaN            NaN              NaN             NaN    Ford Probe
3             NaN            NaN              NaN             NaN      Corvette

In [16]:
COMPILEDDATA= pd.concat(DATASAMPLES)

In [17]:
COMPILEDDATA

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies Favorite Cars
0            Blue           Puma              NaN             NaN           NaN
1           green       Converse              NaN             NaN           NaN
2          purple        Lacoste              NaN             NaN           NaN
3          yellow   Under Armour              NaN             NaN           NaN
0             NaN            NaN         The Wire            Kids           NaN
1             NaN            NaN  Girls gone wild     World War Z           NaN
2             NaN            NaN           Dexter       Malcolm X           NaN
0             NaN            NaN              NaN             NaN    Ford Truck
1             NaN            NaN              NaN             NaN  Jeep Liberty
2             NaN            NaN              NaN             NaN    Ford Probe
3             NaN            NaN              NaN             NaN      Corvette

In [18]:
NEWCOMPILEDDATA = pd.concat([DATASAMPLE1, DATASAMPLE2, DATASAMPLE3], axis=1).reindex(DATASAMPLE1.index)

In [19]:
NEWCOMPILEDDATA

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies Favorite Cars
0            Blue           Puma         The Wire            Kids    Ford Truck
1           green       Converse  Girls gone wild     World War Z  Jeep Liberty
2          purple        Lacoste           Dexter       Malcolm X    Ford Probe
3          yellow   Under Armour              NaN             NaN      Corvette

In [20]:
#Now lets check for null and nan valves
NEWCOMPILEDDATA.isnull().values.any()

True

In [21]:
#Now lets check for null and nan values
NEWCOMPILEDDATA.isna().values.any()

True

In [22]:
NEWCOMPILEDDATA = NEWCOMPILEDDATA.replace('NaN', '')

In [23]:
NEWCOMPILEDDATA

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies Favorite Cars
0            Blue           Puma         The Wire            Kids    Ford Truck
1           green       Converse  Girls gone wild     World War Z  Jeep Liberty
2          purple        Lacoste           Dexter       Malcolm X    Ford Probe
3          yellow   Under Armour              NaN             NaN      Corvette

In [24]:
NEWCOMPILEDDATA.fillna(0)

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies Favorite Cars
0            Blue           Puma         The Wire            Kids    Ford Truck
1           green       Converse  Girls gone wild     World War Z  Jeep Liberty
2          purple        Lacoste           Dexter       Malcolm X    Ford Probe
3          yellow   Under Armour                0               0      Corvette

In [25]:
NEWCOMPILEDDATA.fillna('')

  Favorite Colors Favorite Shoes   Favorite Shows Favorite Movies Favorite Cars
0            Blue           Puma         The Wire            Kids    Ford Truck
1           green       Converse  Girls gone wild     World War Z  Jeep Liberty
2          purple        Lacoste           Dexter       Malcolm X    Ford Probe
3          yellow   Under Armour                                       Corvette

In [26]:
DATASAMPLE4 = pd.DataFrame({'Favorite Ice cream flavors': ['Chocolate', 'Cookies and Cream', 'Vanilla']}, index=[0, 1, 2,])

In [27]:
#This is the append function to add another datatable
NEWCOMPILEDDATA = NEWCOMPILEDDATA.append(DATASAMPLE4)

In [28]:
NEWCOMPILEDDATA

  Favorite Colors Favorite Shoes  ... Favorite Cars Favorite Ice cream flavors
0            Blue           Puma  ...    Ford Truck                        NaN
1           green       Converse  ...  Jeep Liberty                        NaN
2          purple        Lacoste  ...    Ford Probe                        NaN
3          yellow   Under Armour  ...      Corvette                        NaN
0             NaN            NaN  ...           NaN                  Chocolate
1             NaN            NaN  ...           NaN          Cookies and Cream
2             NaN            NaN  ...           NaN                    Vanilla

[7 rows x 6 columns]

In [29]:
NEWCOMPILEDDATA = pd.concat([DATASAMPLE1, DATASAMPLE2, DATASAMPLE3, DATASAMPLE4], axis=1).reindex(DATASAMPLE1.index)

In [30]:
NEWCOMPILEDDATA

  Favorite Colors Favorite Shoes  ... Favorite Cars Favorite Ice cream flavors
0            Blue           Puma  ...    Ford Truck                  Chocolate
1           green       Converse  ...  Jeep Liberty          Cookies and Cream
2          purple        Lacoste  ...    Ford Probe                    Vanilla
3          yellow   Under Armour  ...      Corvette                        NaN

[4 rows x 6 columns]

In [31]:
NEWCOMPILEDDATA.fillna('')

  Favorite Colors Favorite Shoes  ... Favorite Cars Favorite Ice cream flavors
0            Blue           Puma  ...    Ford Truck                  Chocolate
1           green       Converse  ...  Jeep Liberty          Cookies and Cream
2          purple        Lacoste  ...    Ford Probe                    Vanilla
3          yellow   Under Armour  ...      Corvette

[4 rows x 6 columns]

In [32]:
import base64
from IPython.display import HTML

def create_download_link( df3, title = "Download CSV file", filename = "Structured.csv"):
    csv = NEWCOMPILEDDATA.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">(title)</a'
    html = html.format(payload=payload, title=title, filename=filename)
    return HTML(html)

create_download_link(NEWCOMPILEDDATA)