<a href="https://colab.research.google.com/github/drm1072/Workload-DRM/blob/main/List_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists**

Lists in Python represent ordered sequences of values. Here is an example of how to create them:

In [1]:
primes = [2, 3, 5, 7] #

In [3]:
primes

[2, 3, 5, 7]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [4]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
planets[0]

'Mercury'

In [11]:
planets[1]

'Venus'

Which planet is furthest from the sun?

Elements at the end of the list can be accessed with negative numbers, starting from -1:

In [12]:
planets[-1]

'Neptune'

In [13]:
planets[-2]

'Uranus'

**Slicing**

What are the first three planets? We can answer this question using slicing:

In [14]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

planets[0:3] is our way of asking for the elements of planets starting from index 0 and continuing up to but not including index 3.

The starting and ending indices are both optional. If I leave out the start index, it's assumed to be 0. So I could rewrite the expression above as:

In [15]:
planets[:3] #If I leave out the end index, it's assumed to be the length of the list.

['Mercury', 'Venus', 'Earth']

i.e. the expression above means "give me all the planets from index 3 onward".

We can also use negative indices when slicing:

In [16]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [17]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

**Changing lists**

Lists are "mutable", meaning they can be modified "in place".

One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [18]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [19]:
#Let's compensate by shortening the names of the first 3 planets.
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [20]:
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

In [21]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

**List functions**

Python has several useful functions for working with lists.

len gives the length of a list:

In [22]:
# How many planets are there?
len(planets)

8

In [23]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

**sum does what you might expect:**

In [24]:
primes = [2, 3, 5, 7]
sum(primes)

17

We've previously used the min and max to get the minimum or maximum of several arguments. But we can also pass in a single list argument.

In [25]:
max(primes)

7

**Interlude: objects**

I've used the term 'object' a lot so far - you may have even read that everything in Python is an object. What does that mean?

In short, objects carry some things around with them. You access that stuff using Python's dot syntax.

For example, numbers in Python carry around an associated variable called **imag** representing their imaginary part. (You'll probably never need to use this unless you're doing some very weird math.)

In [26]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

The things an object carries around can also include functions. A function attached to an object is called a method. (Non-function things attached to an object, such as **imag**, are called **attributes**).

For example, numbers have a method called bit_length. Again, we access it using dot syntax:

In [27]:
x.bit_length

In [28]:
#To actually call it, we add parentheses:
x.bit_length()

4

In the same way that we can pass functions to the help function (e.g. help(max)), we can also pass in methods:

In [29]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

The examples above were utterly obscure. None of the types of objects we've looked at so far (numbers, functions, booleans) have attributes or methods you're likely ever to use.

But it turns out that lists have several methods which you'll use all the time.

**List methods**

list.append 

modifies a list by adding an item to the end:

In [30]:
# Pluto is a planet darn it!
planets.append('Pluto') #add to the end of the list

In [31]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [32]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [33]:
#list.pop removes and returns the last element of a list:
planets.pop()

'Pluto'

In [34]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']


**Searching lists**

Where does Earth fall in the order of planets? We can get its index using the list.index method.

In [35]:
planets.index('Earth')

2

In [38]:
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto',
 'Pluto']

In [39]:
planets.index('Pluto')

8

In [40]:
# Is Earth a planet? #we can use the in operator to determine whether a list contains a particular value:
"Earth" in planets

True

In [41]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

In [42]:
#we can call help() on the object itself. For example, help(planets) will tell us about all the list methods:
help(planets)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

**We can even make a list of lists:**

In [5]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [6]:
hands

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [7]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

In [8]:
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

**Indexing**

You can access individual list elements with square brackets.

Which planet is closest to the sun? Python uses zero-based indexing, so the first element has index 0.

In [9]:
planets[0]

'Mercury'

**Tuples**

Tuples are almost exactly the same as lists. They differ in just two ways.

**1: The syntax for creating them uses parentheses instead of square brackets**

**2: They cannot be modified (they are immutable).**

In [44]:
t = (1, 2, 3)
t

(1, 2, 3)

In [45]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [46]:
t[0] = 100

TypeError: ignored

In [47]:
#Tuples are often used for functions that have multiple return values.
x = 0.125
x.as_integer_ratio()

(1, 8)

In [48]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [49]:
x = 0.25
x.as_integer_ratio()

(1, 4)

In [50]:
#for swapping two variables!
a = 1
b = 0
a, b = b, a
print(a, b)

0 1