<a href="https://colab.research.google.com/github/drm1072/How-to-Create-a-Candlestick-Chart-using-Python/blob/main/Python_Dictionaries_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#The def keyword signifies that a function is about to be defined.
#Next is the function name (in this case my function name is Hats)
#Next is what is called a "Parameter" within ( ) this could be none or how many you input (in this case I only have number of hats)
#Now the : tells the Python interpreter that you're about to provide the lines(s) of code making up the main body of the function.
#Return button ends the statement
#Next is the function's parameter list, which are the parameters the function will pass inside the when the function is ran.
#In our example our body is just one line of code: return number_of_hats * 5
#I chose five because I have 5 hats
def shoes(number_of_shoes):
  return number_of_shoes*3

In [3]:
Shoe_prices = {'Nike': 100,
               'Reebok': 50,
               'Adidas': 70,
               }

In [4]:
def prices(Shoe_brands):
  if Shoe_brands in Shoe_prices:
    return 'The Shoe price for {} is ${}'.format(Shoe_brands, Shoe_prices[Shoe_brands])

In [5]:
prices('Nike')

'The Shoe price for Nike is $100'

In [6]:
def prices(Shoe_brands):
  if Shoe_brands in Shoe_prices:
    return 'The Shoe price for {} is ${}'.format(Shoe_brands, Shoe_prices[Shoe_brands])
  else:
    return 'The shoe price for {} is not available'.format(Shoe_brands)

In [7]:
prices("puma")

'The shoe price for puma is not available'

In [8]:
def prices(Shoe_brands):
  return 'The price for {} is {}'.format(Shoe_brands,Shoe_prices.get(Shoe_brands, 'not available'))

In [9]:
prices('puma')

'The price for puma is not available'

In [10]:
'puma' in Shoe_prices

False

In [11]:
len(Shoe_prices)

3

In [12]:
list(Shoe_prices.keys())

['Nike', 'Reebok', 'Adidas']

In [13]:
list(Shoe_prices.values())

[100, 50, 70]

In [14]:
#the .clear() empties out our dictionary
Shoe_prices.clear()

In [15]:
#The .pop function removes a designated key value pair
Shoe_prices .pop('Reebok')

KeyError: ignored

In [ ]:
Shoe_prices

In [ ]:
#This function removes the last value added to the dictionary based on whats left
Shoe_prices.popitem()

In [ ]:
Shoe_prices

In [ ]:
Shoe_prices = {'Nike': 100, 'Timberland': 130, 'Converse': 20}
New_Shoe_prices = {'UnderArmour': 200, 'Skechers': 400}

In [ ]:
Shoe_prices.update(New_Shoe_prices)

In [ ]:
Shoe_prices

In [ ]:
Shoe_prices.update(New_Shoe_prices)

In [ ]:
Shoe_prices

In [ ]:
Shoe_prices.popitem()

In [ ]:
Shoe_prices

In [ ]:
Shoe_prices.clear()

In [ ]:
Shoe_prices

In [ ]:
del Shoe_prices

In [ ]:
def Math_example(x,y): #in this example lets create 2 parameters or arguments
return x + y

In [ ]:
print(Math_example)

In [ ]:
Math=Math_example(2,4)

In [ ]:
print(Math)

In [ ]:
def Arithmetic(Mathematics, A, B):
    if Mathematics == 'addition':
      return A+B
    elif Mathematics == 'subtract':
      return A-B
    elif Mathematics == 'multiply':
      return A * B 
    elif Mathematics == 'division':
     return A/B

In [ ]:
Arithmetic('addition', 16, 6)

In [ ]:
#Convert a List into a Dictionary
List=[['Age',33], ['Name', 'Terrence'], ['Food', 'Jamaican']]

In [ ]:
List

In [ ]:
Dictionary=dict(List)

In [ ]:
Dictionary

In [ ]:
#Lets Create a list within Lists called a "Nested List"
Money = ["Coins", ["Pesos", "Dollars"], "Bitcoin"]

In [ ]:
Money

In [ ]:
#This code allows us to locate information with lists
#The number 1 in the first bracket pulls the second value which has been nested together as one value
#Then the number 1 pulls out the second value within the list
Money = ["Coins", ["Pesos", "Dollars"], "Bitcoin"]
print(Money[1][1])

In [ ]:
#Add another data point to list
Money.append("Yen")
print(Money)

In [ ]:
#List have a particular length.
Currency = len(Money)

In [ ]:
#Now it shows us 4 values
Currency

In [ ]:
print("You have {} different currencies in the bank".format(Currency))

In [ ]:
Family = { 'Sisters': 1,
          'Brothers': 1,
          'Children': 1
          }

In [ ]:
#Checking the type
type(Family)

In [ ]:
# Checking a single value
Family ['Brothers']

In [ ]:
# Updating a value
Family ['Children'] +=5
print(Family)

In [ ]:
#Adding a new pair
Family ['Wife'] = 1
print(Family)

In [ ]:
#Here's a super simple dictionary
#Dictionaries are used heavily in NoSQL processing
Consultant = {"name": "Dadrian",
              "profession": "Data Scientist"}
Customer = {"Company": None,
            "Business Industry": "Sports",
            "Company Locations": 4,
            "Employee Count": 105,
            }

In [ ]:
#We modify dictionary values just like we access them.
if Customer["Company"] is None:
    Customer["Company"] = input("Create a dba Company name for me to register?""")
    print("Great nice to meet you, my name is {}".format(Consultant["name"]))

In [ ]:
Customer["Business Industry"] = "Healthcare"
print(Customer["Business Industry"])