<a href="https://colab.research.google.com/github/drm1072/Workload-DRM/blob/main/Strings_and_Dictionaries(Kaggle).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("You've successfully run some Python code")
print("Congratulations!")

You've successfully run some Python code
Congratulations!

In [7]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [8]:
print("Pluto's a planet!")
print('My dog is named "Dadrian"')

Pluto's a planet!
My dog is named "Dadrian"

In [11]:
("'Pluto's a planet!'")

"'Pluto's a planet!'"

In [12]:
'Pluto\'s a planet!' #We can fix this by "escaping" the single quote with a backslash.

"Pluto's a planet!"

**The table below summarizes some important uses of the backslash character.**

What you type...	What you get	example	print(example)
\'	'	'What\'s up?'	What's up?
\"	"	"That's \"cool\""	That's "cool"
\\	\	"Look, a mountain: /\\"	Look, a mountain: /\
\n	
"1\n2 3"

In [13]:
hello = "hello\nworld" #The last sequence, \n, represents the newline character. It causes Python to start a new line.
print(hello)

hello
world

In addition, Python's triple quote syntax for strings lets us include newlines literally (i.e. by just hitting 'Enter' on our keyboard, rather than using the special '\n' sequence). We've already seen this in the docstrings we use to document our functions, but we can use them anywhere we want to define a string.

In [14]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

The print() function automatically adds a newline character unless we specify a value for the keyword argument end other than the default value of '\n':

In [15]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

**Strings are sequences**

Strings can be thought of as sequences of characters. Almost everything we've seen that we can do to a list, we can also do to a string.

In [16]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [17]:
# Slicing
planet[-3:]

'uto'

In [18]:
# How long is this string?
len(planet)

5

In [19]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

**String methods**

Like list, the type str has lots of very useful methods. I'll show just a few examples here.

In [21]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [22]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [23]:
# Searching for the first index of a substring
claim.index('plan')

11

In [24]:
claim.startswith(planet)

True

In [25]:
claim.endswith('dwarf planet')

False

**Going between strings and lists: .split() and .join()**
str.split() turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string to a list of words.

In [26]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [27]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
#str.join() takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [28]:
'/'.join([month, day, year])

'01/31/1956'

In [29]:
# Yes, we can put unicode characters right in our string literals :)
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

**Building strings with .format()**

Python lets us concatenate strings with the + operator.

In [30]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [32]:
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."
#If we want to throw in any non-string objects, we have to be careful to call str() on them first

"Pluto, you'll always be the 9th planet to me."

In [33]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [34]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [35]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

**Dictionaries**

Dictionaries are a built-in Python data structure for mapping keys to values.

In [36]:
numbers = {'one':1, 'two':2, 'three':3}

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [37]:
numbers['one']

1

In [38]:
numbers['eleven'] = 11
numbers
#We can use the same syntax to add another key, value pair

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

In [39]:
numbers['one'] = 'Pluto'
numbers

{'eleven': 11, 'one': 'Pluto', 'three': 3, 'two': 2}

In [40]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

The in operator tells us whether something is a key in the dictionary

In [41]:
'Saturn' in planet_to_initial

True

In [42]:
'Betelgeuse' in planet_to_initial

False

In [43]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))
#A for loop over a dictionary will loop over its keys

one = Pluto
two = 2
three = 3
eleven = 11

In [44]:
#We can access a collection of all the keys or all the values with dict.keys() and dict.values(), respectively.
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [45]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None